

<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}
<head>
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>D-search 搜索引擎</title>
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/reqwest.js' %}"></script>
</head>
<body>
<div id="container">
	<div id="bd">
        <div id="main">
        	<h1 class="title">
            	<div class="logo large"></div>
            </h1>
            <div class="nav ue-clear">
            	<ul class="searchList">
                    <li class="searchItem current" data-type="question">Question</li>
                </ul>
            </div>
            <div class="inputArea">
            	<input type="text" class="searchInput" />
                <input type="button" class="searchButton" onclick="add_search()" />
                <ul class="dataList">

                </ul>
            </div>
            <div class="historyArea">
            	<p class="history">
                	<label>热门搜索：</label>

                        <a href="/search?q=#">python</a>

                </p>
                <p class="history mysearch">
                	<label>我的搜索：</label>
                    <span class="all-search">
                        <a href="javascript:;"></a>
                    </span>

                </p>
            </div>
        </div><!-- End of main -->
    </div><!--End of bd-->

    <div class="foot">
    	<div class="wrap">
            <div class="copyright">Copyright &copy;</div>
        </div>
    </div>
</div>
</body>
<!--<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'js/global.js' %}"></script>-->
<script>

</script>
</html>